

.card-title {
	font-size: 24px;
	font-weight: 600;
	padding: 0;
	margin: 20px 0;
	color:darkslategrey;
	text-decoration: none;
}

.card-number {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #6b6060;
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: normal;
}

.card-content {
	color:lightslategrey;
	font-size: 17px;
	margin: 0;
	padding: 0;
}

 .card{
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
  }
  
  .card:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .card h3{
    font-weight: 600;
  }
  
  .card img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  }
  
  .card-1{
    background-image: url(../defaultImages/NewSummary.jpg);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-2{
     background-image: url(../defaultImages/textAnalyzer.png);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-3{
     background-image: url(../defaultImages/webscrap.jpg);
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }

  .card-4{
    background-image: url(../defaultImages/MachineLearning.png);
       background-repeat: no-repeat;
     background-position: right;
     background-size: 80px;
 }

 .card-5{
    background-image: url(../defaultImages/inputMethod.png);
       background-repeat: no-repeat;
     background-position: right;
     background-size: 80px;
 }


 .card-6{
    background-image: url(../defaultImages/TopicModel.png);
       background-repeat: no-repeat;
     background-position: right;
     background-size: 80px;
 }
  
  @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  }

  .card-container{
      margin: 2vh;
  }

  .why-us{
    font-family: 'Nunito', sans-serif;
    padding: 50px;
    padding: 8vh 0 0 0;
  }