{% extends "base.html" %} 
{% block title %}HK Today{% endblock %}

{% block content %}

<link href="../static/css/yourcorner.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
<div class="jumbotron bg-dark text-white jumbotron-fluid slogon-container">
    <div class="container">
        <h1 class="display-4">Comming Soon</h1>
        <p class="lead">Analysis Hong Kong Today</p>
    </div>
</div>

<!--<div class="history-field">
  <table id="data" class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>News Title</th>
          <th>News Text</th>
          <th>Post Date</th>
          <th>User Email</th>
          <th>Delete</th>
          <th>Analysis</th>
        </tr>
      </thead>
      <tbody>
        {% for record in user.records %}
          <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.title}}</td>
            <td>{{ record.data[:100] }}...</td>
            <td>{{ record.date }}</td>
            <td>{{ user.email }}</td>
            <td>
            <button type="button" class="btn btn-secondary corner-button" onclick="deleteNote({{record.id}})">
            DELETE
            </button>
            </td>
            <td>
            <button type="button" class="btn btn-dark corner-button" onclick="readNote({{record.id}})">
            REREAD
            </button></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>-->

{% endblock %}

<!-- Table Property Editable, Searchable, Sortable-->
<!--{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          null,
          {searchable: false},
          null,
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false}],
      });
    });
  </script>
{% endblock %}-->