
<style>

.datamap-sales-hover-tooltip {
  background: #545454;
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  border-radius: 3px;
}
</style>

<section id="main-content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="datamap">
          <div id="world-datamap"></div>
        </div>
      </div>
      <!-- /# card -->
    </div>
    <!-- /# column -->
  </div>
  <!-- /# row -->

  <div class="row">
    <div class="col-lg-12">
      <div class="footer">
        <p>2018 © Admin Board. - <a href="#">example.com</a></p>
      </div>
    </div>
  </div>
</section>

    <!-- jquery vendor -->
    <script src="../static/assets/jquery.min.js"></script>
    <script src="../static/assets/jquery.nanoscroller.min.js"></script>

    <!--  Datamap -->
    <script src="../static/assets/datamap/d3.min.js"></script>
    <script src="../static/assets/datamap/topojson.js"></script>
    <script src="../static/assets/datamap/datamaps.world.min.js"></script>
    <script src="../static/assets/datamap/datamap-init.js"></script>