{% extends "base.html" %} {% block title %}NewsPoint{% endblock %} {% block
content %}

<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet"
/>

<!-- CSS Files -->
<link href="..\static\css\startPage\style.css" rel="stylesheet" />

<div class="header">
  <!--Content before waves-->
  <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->

    <div class="flex-column">
      <div class="flex-column">
        <i class="fa fa-newspaper-o logoDesign"></i>
        <h1 class="titleStyle">Welcome To NewsPoint</h1>
      </div>
      <p class="infoStyle">Your Personal Newspaper Learning Platform</p>

      <div class="flex-row margin-top">
        <a
          type="button"
          class="btn btn-primary btn-lg buttonDesign"
          href="/login"
          >Get Started</a
        >
        <a
          type="button"
          class="btn btn-secondary btn-lg buttonDesign"
          href="/sign"
          >Sign Up</a
        >
      </div>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
</div>
<!--Header ends-->

<!--Content starts-->
<div class="content flex-column">
  <p>Final Year Project @ CityU Electrical Engineering</p>
  <p>Developed by Yang Kai Yam</p>
</div>
<!--Content ends-->

{% endblock %}
