{% extends "base.html" %}
{% block title %}Word Network{% endblock %}

{% block content %}

<!-- Custom Design -->
<link href="../static/css/sentiment.css" rel="stylesheet" />
<link href="../static/css/global.css" rel="stylesheet" />

<!-- Like Btn -->
<link href="..\static\css\likeBtn\style.css" rel="stylesheet" />

<div class="container-fluid" id="wrapper">


      <div class="jumbotron bg-secondary text-white jumbotron-fluid slogon-container banner">
          <div class="container">
              <h1 class="display-4">#HashTag in Your News <i class="fa fa-twitter" aria-hidden="true"></i></h1>
              <p class="lead">We have found different hashtags to you. You can click and view how other people react to this topic</p>
          </div>
          <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">How to use</a>
          <a type="button" class="btn btn-light text-dark" data-toggle="modal" data-target="#exampleModalCenter">Create Your Own HashTag</a>
      </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">How To Use</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Step 1</a>
                  <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Step 2</a>
                  <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Step 3</a>
                  <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Step 4</a>
                </div>
              </div>
              <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">This platform is for you to know other people reaction in the selected topic. We will find other options in Twitter. Help you know whether any people support your point of view.</div>
                  <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">We have found different hashtag inside your news article. After click your interested topic, the plaform will ask you the options whether you support or not support this topic.</div>
                  <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">The platform will analysis other opinions in the Big Data from Twitter API and find out how many people support you. They may be like-minded people with you.</div>
                  <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">If you think the hashtag is not so accurate, you may click and create your own hashtag. Let's find any people having same mind with you in the world!</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


      <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title text-center text-white">Create Your Own #HashTag</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method='post' action={{ url_for('views.createHashTag') }}>
            <div class="modal-body">
              <div class="input-group mb-3 input-box">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">#</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name='hashTag'>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >Explore HashTag</button>
            </div>
          </form>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="row">
            {% for hash in hashtag %}
            <div class="col-lg-3 col-sm-6">
            <form method='post' action={{ url_for('reports.question', hashtag=hash, directHashtag=directHashtag) }}>
                {% set randomNum = range(1, 5) | random %}
                {% if randomNum == 1 %}
                  
                      <div class="card-box red-bg">
                          <div class="inner">
                              <h3> #{{hash}} </h3>
                          </div>
                          <div class="icon">
                              <i class="fa fa-hashtag" aria-hidden="true"></i>
                          </div>
                          <button class="card-box-footer noBorderWord" type="submit">Explore <i class="fa fa-arrow-circle-right"></i></button>
                      </div>

                {% elif randomNum == 2 %}

                      <div class="card-box green-bg">
                          <div class="inner">
                              <h3> #{{hash}} </h3>
                          </div>
                          <div class="icon">
                              <i class="fa fa-hashtag" aria-hidden="true"></i>
                          </div>
                          <button class="card-box-footer noBorderWord" type="submit">Explore <i class="fa fa-arrow-circle-right"></i></button>
                      </div>

                {% elif randomNum == 3 %}

                      <div class="card-box blue-bg">
                          <div class="inner">
                              <h3> #{{hash}} </h3>
                          </div>
                          <div class="icon">
                              <i class="fa fa-hashtag" aria-hidden="true"></i>
                          </div>
                          <button class="card-box-footer noBorderWord" type="submit">Explore <i class="fa fa-arrow-circle-right"></i></button>
                      </div>

                {% else %}

                      <div class="card-box black-bg">
                          <div class="inner">
                              <h3> #{{hash}} </h3>
                          </div>
                          <div class="icon">
                              <i class="fa fa-hashtag" aria-hidden="true"></i>
                          </div>
                          <button class="card-box-footer noBorderWord" type="submit">Explore <i class="fa fa-arrow-circle-right"></i></button>
                      </div>
                  
                {% endif %}
                </div>
              </form>
            {% endfor %}
        </div>
    </div>

</div>


<!-- Like Buttons -->
<a href="#" class="float">
  <i class="fa fa-plus icon"></i>
</a>
<ul>
  <li>
    <a href="/discoverMore">
      <div class="centreIcon" class="btnLoading">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-collection-fill icon"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"
          />
        </svg>
      </div>
    </a>
  </li>
  <li>
    <a href="/sentiment" class="emotionBtn">
      <div class="centreIcon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-emoji-laughing-fill icon"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z"
          />
        </svg>
      </div>
    </a>
  </li>
  <li>
    <a href="/textAnalysis" class="analysisBtn">
      <div class="centreIcon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-pencil-fill icon"
          viewBox="0 0 16 16"
        >
          <path
            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
          />
        </svg>
      </div>
    </a>
  </li>
  <li>
    <a href="/summary" class="btn-get-started scrollto sumBtn">
      <div class="centreIcon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          fill="currentColor"
          class="bi bi-book-half icon"
          viewBox="0 0 16 16"
        >
          <path
            d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"
          />
        </svg>
      </div>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-thumbs-up icon"></i>
    </a>
  </li>
  <li>
    <a href="/dashboard" class="dashboardBtn">
      <i class="fa fa-backward icon"></i>
    </a>
  </li>
</ul>
<!-- End - Buttons -->


<!-- Button Response -->
<script src="../static/btnResponse.js"></script>

{% endblock %}